.firstDiv:hover {
  transition-delay: 5s;
  background: rgb(0, 0, 0);
}
.seconDiv {
  background: red;
  width: 50px;
  transition: width 3s;
  transition-delay: 7s;
}
.seconDiv:hover {
  width: 500px;
}
.thirDiv {
  width: 100px;
  height: 100px;
  background-color: brown;
  transition-delay: 3s;
}
.thirDiv:hover {
  height: 100px;
  border-radius: 45px;
  width: 200px;
}
